/*

# TYPOGRAPHY SYSTEM

## Font-size

    REM             px

    0,625rem        10
    0,750rem        12
    0,875rem        14
    1,000rem        16  (default)
    1,125rem        18
    1,250rem        20
    1,500rem        24
    1,875rem        30
    2,250rem        36
    2,750rem        44
    3,250rem        52
    3,875rem        62
    4,625rem        74
    5,375rem        86
    6,125rem        98


## Font-weight

    [empty for a while]


## Line-height

    1               default


# Spacing

    REM         px

    0,125rem        2
    0,250rem        4
    0,500rem        8
    0,750rem        12
    1,000rem        16
    1,500rem        24
    2,000rem        32
    3,000rem        48
    4,000rem        64
    5,000rem        80
    6,000rem        96
    8,000rem        128


# COLORS SYSTEM

## Primary

    #e67e22

## Tints

## Shades

## Accents

## Greys

    #555


# SHADOWS SYSTEM
# BORDER-RADIUS SYSTEM
# WHITESPACE SYSTEM

    REM         px

    0,125rem        2
    0,250rem        4
    0,500rem        8
    0,750rem        12
    1,000rem        16
    1,500rem        24
    2,000rem        32
    3,000rem        48
    4,000rem        64
    5,000rem        80
    6,000rem        96
    8,000rem        128

*/


/* CSS RESET RULES */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    color: #555;
    line-height: 1;
    font-weight: 400;
}